<template>
    <div id="app" >
        <nav class="container navbar navbar-dark navbar-expand-lg bg-primary rounded"
             style="margin-top: 20px; margin-bottom: 20px; background: transparent !important;">
            <a class="navbar-brand disabled" style="color: whitesmoke !important;">Hotel Management</a>
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item" :class="{'active' : active === 'home'}" @click="whoActive('home')">
                        <router-link class="nav-link" to="/">Home
                        </router-link>
                    </li>
                    <li class="nav-item" :class="{'active' : active === 'login'}" @click="whoActive('login')">
                        <router-link class="nav-link" to="/login">Login
                        </router-link>
                    </li>
                    <li class="nav-item" :class="{'active' : active === 'register'}" @click="whoActive('register')">
                        <router-link class="nav-link" to="/register">Register
                        </router-link>
                    </li>
                </ul>
            </div>
        </nav>
        <router-view/>
    </div>
</template>
<style>

</style>
<script>
    export default {
        data() {
            return {
                active: 'home'
            }
        },
        methods: {
            whoActive(active) {
                this.active = active;
            }
        }
    }
</script>
