<template>

    <div class="col-lg-8" style="align-items: start">
        <ApolloQuery
            :query="require('../graphql/query/hotels.gql')"
            :variables="   {  pageSize: pageSize , page: page   }">
            <template v-slot="{ result: { loading, error, data } }">
                <!-- Loading -->
                <div class="loading progress apollo" v-if="loading">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar"
                         role="progressbar" style="width: 25%;">25%
                    </div>
                </div>

                <!-- Error -->
                <div class="error apollo" v-else-if="error">

                </div>

                <!-- Result -->
                <div class="result apollo" v-else-if="data">
                    <div class="row" style="height: 750px">
                        <div class="col-lg-4 d-flex align-items-stretch" style="height: 250px"
                             v-for="hotel of data.hotels.data">
                            <div class="card text-white text-lg-left bg-dark rounded" style="margin: 16px 0px 0px 0px;">
                                <div class="card-header">{{hotel.name}}</div>
                                <div class="card-body">
                                    <h5 class="card-text">Number Of Room: {{hotel.number_of_rooms}}</h5>
                                    <div class="card-text">
                                        <font-awesome-icon :icon="['fas', 'star']" :key="index"
                                                           class="checked"
                                                           v-for="(n ,index) in hotel.star"/>
                                    </div>

                                </div>
                                <router-link :to="{ name: 'Hotel', params: { id: hotel.id }}"
                                             class="btn btn-primary" style="margin: 5px !important;">More Information
                                </router-link>
                            </div>

                        </div>
                    </div>


                    <footer style="margin: 20px 0 20px 0">
                        <nav aria-label="Page navigation example">
                            <ul class="rounded pagination justify-content-center">
                                <li :class="{'disabled' : page === 1}" class=" rounded page-item">
                                    <a @click="changePage(1)" class="page-link" tabindex="-1">First</a>
                                </li>
                                <li class="page-item" v-if="page !== 1 "><a
                                    @click="changePage(data.hotels.paginatorInfo.currentPage-1)"
                                    class="page-link">{{data.hotels.paginatorInfo.currentPage-1}}</a>
                                </li>
                                <li class=" rounded page-item active"><a
                                    @click="changePage(data.newses.paginatorInfo.currentPage)"
                                    class="page-link">{{data.hotels.paginatorInfo.currentPage}}</a>
                                </li>
                                <li class=" rounded page-item" v-if="page !== data.hotels.paginatorInfo.lastPage "><a
                                    @click="changePage(data.hotels.paginatorInfo.currentPage+1)"
                                    class="page-link">{{data.hotels.paginatorInfo.currentPage+1}}</a>
                                </li>
                                <li :class="{'disabled' : page === data.hotels.paginatorInfo.lastPage}"
                                    class=" rounded page-item">
                                    <a @click="changePage(data.hotels.paginatorInfo.lastPage)"
                                       class="page-link">Last</a>
                                </li>
                            </ul>
                        </nav>
                    </footer>
                </div>

                <div class="no-result apollo" v-else>
                    <div class="alert alert-danger">
                        <strong>No Result!!!</strong>
                    </div>
                </div>
            </template>
        </ApolloQuery>
    </div>

</template>

<script>

    export default {
        name: 'Home',
        data() {
            return {
                pageSize: 9,
                page: 1
            }
        },
        methods: {
            changePage(page) {
                console.log(page);
                this.page = page;
            }
        }
    }
</script>
<style>
    .checked {
        color: orange;
    }

    .page-item {
        background-color: #343A40 !important;
        border-color: #343A40 !important;
    }

    .pagination {
        border-color: #343A40 !important;
    }

    .page-link {
        background-color: #343A40 !important;
        border-color: #343A40 !important;
    }
</style>
