<template>
    <div class="col-lg-8" style="align-items: start">
        <ApolloQuery
            :query="require('../graphql/query/hotel.gql')"
            :variables="   {  id: id}">
            <template v-slot="{ result: { loading, error, data } }">
                <!-- Loading -->
                <div class="loading progress apollo" v-if="loading">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar"
                         role="progressbar" style="width: 25%;">25%
                    </div>
                </div>

                <!-- Error -->
                <div class="error apollo" v-else-if="error">

                </div>

                <!-- Result -->
                <div class="result apollo" v-else-if="data">
                    <div class="row container align-self-start align-items-start" style="align-items: start;">
                        <GmapMap :center="{lat: data.hotel.lat, lng:data.hotel.lng}"
                                 :zoom="10"
                                 class="rounded card col-lg-6 card-body"
                                 map-type-id="terrain"
                                 style="width: 100% ; height: 500px; align-self: start ; margin: 16px;"
                        ></GmapMap>
                        <div class="col-lg-4 text-white card text-lg-left bg-dark rounded"
                             style="width: 100% ; height: 500px; align-self: start;  margin: 16px;"
                        >
                            <div class="card-header rounded">
                                {{data.hotel.name}} <br>
                                <font-awesome-icon :icon="['fas', 'star']" :key="index"
                                                   class="checked"
                                                   v-for="(n ,index) in data.hotel.star"/>
                            </div>
                            <div class="card-body" id="manager-staff">
                                <h4>Manager:</h4>
                                <div class="card-title">
                                    <p> name: {{data.hotel.manager.first_name}} {{data.hotel.manager.last_name}}</p>
                                    <p> phone: {{data.hotel.manager.phone}}</p>
                                </div>
                                <h4>Staffs:</h4>
                                <div class="card-title text-truncate" v-for="staff in data.hotel.staffs">
                                    <p> {{staff.job}} : {{staff.first_name}} {{staff.last_name}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="container align-self-start align-items-start" style="align-items: start;">
                            <div class="text-truncate card comment-bg text-white rounded"
                                 style="margin: 8px 0 8px 0;"
                                 v-for="comments in data.hotel.comments">
                                <div class="card-body d-flex flex-row">
                                    <!-- Avatar -->
                                    <img :src="comments.user.avatar"
                                         alt="avatar" class="rounded-circle mr-3" height="50px" width="50px">
                                    <!-- Content -->
                                    <div>
                                        <!-- Title -->
                                        <h4 class="card-title text-truncate text-justify font-weight-bold"
                                            style="width: 250px">{{comments.user.username}}</h4>
                                        <!-- Subtitle -->
                                        <p class="card-text"><i class="far fa-clock"></i>{{moment(comments.created_at,
                                            'YYYY-MM-DD hh:mm:ss').fromNow()}}</p>
                                    </div>
                                    <div class="card-body d-flex">
                                        <h6>{{comments.body}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="no-result apollo" v-else>
                    <div class="alert alert-danger">
                        <strong>No Result!!!</strong>
                    </div>
                </div>
            </template>
        </ApolloQuery>


    </div>
</template>

<script>
    export default {
        name: "Hotel",
        data() {
            return {
                id: this.$route.params.id
            };
        }
    }
</script>

<style scoped>
    .card {
        border-color: #343A40 !important;
    }

    .comment-bg {
        background-color: #343A40 !important;
    }

    .checked {
        color: orange;
    }
</style>
