<template>
    <div class="col-lg-7 container align-items-center justify-content-center" style="margin: 10px">

        <div
            class="col-lg-4 container align-self-center  align-items-center text-center justify-content-center align-items-center">
            <h3 class="text-center" style="text-shadow: 2px 2px 8px #00E7E4;">Login</h3>
        </div>
        <!-- Card body -->
        <div class="col-lg-4 container align-self-center card-body align-items-center ">


            <form @submit.prevent="login" method="POST"><input name="csrfmiddlewaretoken" type="hidden"
                                                               value="ySv9OoWJA3M8Qkwqh9L7UEaziiZEwHWS1ewduSXTLh7ZC57jv8KKKSGeZxMoQOIq">

                <p><b class="errorMessage"></b></p>

                <p><b class="errorMessage text-color"></b></p>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="bg-dark input-group-text text-color"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input class="bg-dark form-control text-color" id="username" name="username" placeholder="Username"
                           required="true"
                           type="text" v-model="username">
                </div>

                <div class="form-group input-group text-color">
                    <div class="input-group-prepend">
                        <span class="bg-dark input-group-text text-color"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class=" bg-dark form-control text-color" id="password1" name="password1"
                           placeholder="Create password"
                           required="true" type="password" v-model="password">
                </div>

                <p><b class="errorMessage"></b></p>
                <p><b class="errorMessage"></b></p>

                <div class="form-group">
                    <button class="container btn btn-primary my-4 btn-block waves-effect waves-light" id="id_submit"
                            name="submit-btn"
                            style="width: 75%"
                            type="submit">Login
                    </button>
                    <p class="text-center info">haven't an account?
                        <router-link :to="{name: 'Register'}">Register</router-link>
                    </p>
                </div>


            </form>

        </div>


    </div>
</template>

<script>
    import login from '../graphql/mutation/login.gql'

    export default {
        name: "Login",
        data() {
            return {
                username: "",
                password: "",
            }
        },
        methods: {
            login() {
                this.$apollo.mutate(
                    {
                        mutation: login,
                        variables: {
                            username: this.username,
                            password: this.password
                        }
                    }
                ).then(result => {
                    alert(JSON.stringify(result.data.login))
                })
            }
        }
    }
</script>

<style scoped>
    .text-color {
        color: white;
        border-color: #343A40 !important;
    }

    .info {
        font-weight: 500;
    }

    .input-group-text {
        border-color: #343A40 !important;
        outline: none;
    }

    .input-group {
        border-color: #343A40 !important;
        outline: none;

    }


    .input-group-prepend {
        border-color: #343A40 !important;
        outline: none;

    }

    .form-group {
        border-color: #343A40 !important;
        outline: none;

    }

    .bg-dark {
        opacity: 0.75 !important;
    }
</style>
