<template>
    <div class="col-lg-7 container align-items-center justify-content-center" style="margin: 10px">

        <div
            class="col-lg-4 container align-self-center  align-items-center text-center justify-content-center align-items-center">
            <h3 class="text-center" style="text-shadow: 2px 2px 8px #00E7E4;">Create an Account</h3>
        </div>
        <!-- Card body -->
        <div class="col-lg-4 container align-self-center card-body align-items-center ">


            <form @submit.prevent="register" method="POST"><input name="csrfmiddlewaretoken" type="hidden"
                                                                  value="ySv9OoWJA3M8Qkwqh9L7UEaziiZEwHWS1ewduSXTLh7ZC57jv8KKKSGeZxMoQOIq">

                <p><b class="errorMessage"></b></p>
                <div class="form-group text-color input-group">

                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-color"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input class="text-color bg-dark form-control" id="email" name="email" placeholder="Email address"
                           required="true"
                           type="email" v-model="email">
                </div>
                <div class="form-group text-color input-group">

                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-color"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <input class="text-color bg-dark form-control" id="phone" name="phone" placeholder="phone"
                           required="true"
                           type="tel" v-model="phone">
                </div>
                <p><b class="errorMessage text-color"></b></p>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="bg-dark input-group-text text-color"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input class="bg-dark form-control text-color" id="username" name="username" placeholder="Username"
                           required="true"
                           type="text" v-model="username">
                </div>

                <div class="form-group input-group text-color">
                    <div class="input-group-prepend">
                        <span class="bg-dark input-group-text text-color"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class=" bg-dark form-control text-color" id="password1" name="password1"
                           placeholder="Create password"
                           required="true" type="password" v-model="password">
                </div>

                <p><b class="errorMessage"></b></p>
                <p><b class="errorMessage"></b></p>

                <div class="form-group">
                    <button class="container btn btn-primary my-4 btn-block waves-effect waves-light" id="id_submit"
                            name="submit-btn"
                            style="width: 80%"
                            type="submit">Create Account
                    </button>
                    <p class="text-center info">Have an account?
                        <router-link :to="{name: 'Login'}">Log In</router-link>
                    </p>
                </div>


            </form>

        </div>


    </div>
</template>

<script>
    import register from '../graphql/mutation/register.gql'

    export default {
        name: "SingUp",
        data() {
            return {
                email: "",
                username: "",
                password: "",
                phone: "",
            }
        },
        methods: {
            register() {
                this.$apollo.mutate(
                    {
                        mutation: register,
                        variables: {
                            username: this.username,
                            password: this.password,
                            email: this.email,
                            phone: this.phone,
                        }
                    }
                ).then((result) => {
                    console.log(result)
                    alert(JSON.stringify(result.data.createUser))
                }).catch((result) => {
                    console.log(result)
                })
            }
        }
    }
</script>

<style scoped>
    .text-color {
        color: white;
        border-color: #343A40 !important;
    }

    .input-group-text {
        border-color: #343A40 !important;
        outline: none;
    }

    .input-group {
        border-color: #343A40 !important;
        outline: none;

    }


    .input-group-prepend {
        border-color: #343A40 !important;
        outline: none;

    }

    .info {
        font-weight: 500;
    }


    .form-group {
        border-color: #343A40 !important;
        outline: none;

    }

    .bg-dark {
        opacity: 0.75 !important;
    }
</style>
